<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link href="../CSS/Library/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="../CSS/Library/bootstrap.css" rel="stylesheet" />
    <link href="../CSS/Library/jquery-ui.css" rel="stylesheet" />
    <link href="../CSS/Library/jquery.timepicker.css" rel="stylesheet" />
    <link href="../CSS/Custom/custom.css" rel="stylesheet" />
    <link href="../CSS/Common/common.css" rel="stylesheet" />
    <link href="../CSS/Common/fonts.css" rel="stylesheet" />
    <link href="../CSS/Main/pagelayout.css" rel="stylesheet" />
    <link href="../CSS/Main/header.css" rel="stylesheet" />
    <link href="../CSS/Main/leftmenu.css" rel="stylesheet" />
    <link href="../CSS/Main/main.css" rel="stylesheet" />


    <title>Training Phase 2</title>
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <div class="page-logo">
                <img src="/Contents/Images/logo-mshopkeeper.png" />
            </div>
            <div class="top-menu-body">
                <div class="business-name"> Xuất kho </div>
                <div class="flex-grow-1">
                    <div class="helper-top-menu hover-pointer">
                        <img src="/Contents/Images/icon_help_18.png" />
                        <span class="blue-text"> Trợ giúp </span>
                    </div>
                </div>
                <div class="branch-selection-top-menu">
                    <div>
                        <span>Tất cả chi nhánh</span>
                        <img class="arrow-down-line-img" src="/Contents/Icons/arrow-down-line.png" />
                    </div>
                </div>
                <div class="user-management">
                    <img class="avatar" src="/Contents/Images/Image.jpg" />
                    <div class="user-name">
                        <div>
                            <span>Nguyễn Mạnh Duy</span>
                            <img class="arrow-down-line-img" src="/Contents/Icons/arrow-down-line.png" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="page-body">
            <div class="main-left-menu">
                <a class="item-menu">
                    <div class="menu-icon icon-overview"></div>
                    <div>Tổng quan</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-buy"></div>
                    <div>Mua hàng</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-treasury"></div>
                    <div>Kho</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-money"></div>
                    <div>Quỹ tiền</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-cost"></div>
                    <div>Chi phí</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-promotional"></div>
                    <div>Khuyến mãi</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-catalog"></div>
                    <div>Danh mục</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-report"></div>
                    <div>Báo cáo</div>
                </a>
                <a class="item-menu">
                    <div class="menu-icon icon-set"></div>
                    <div>Thiết lập</div>
                </a>
            </div>
            <div class="main-content">
                <div class="upper-page">
                    <div class="main-toolbar">
                        <button id="btnAdd" class="toolbar-item">
                            <div class="common-icon btn-add-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                Thêm mới
                            </span>
                        </button>
                        <button class="toolbar-item">
                            <div class="common-icon btn-duplicate-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                Nhân bản
                            </span>
                        </button>
                        <button class="toolbar-item">
                            <div class="common-icon btn-view-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                Xem
                            </span>
                        </button>
                        <button class="toolbar-item">
                            <div class="common-icon btn-edit-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                Sửa
                            </span>
                        </button>
                        <button class="toolbar-item">
                            <div class="common-icon btn-delete-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                Xóa
                            </span>
                        </button>
                        <button class="toolbar-item">
                            <div class="common-icon btn-print-icon">
                            </div>
                            <span class="toolbar-btn-lbl">
                                In
                            </span>
                            <div class="fa-icon-arrow-down">
                                <i class="fa fa-caret-down"></i>
                            </div>
                        </button>
                    </div>
                    <div class="data-filter-by-date">
                        <div class="dropdown">
                            <div class="custom-dropdown bts-dropdown hover-pointer" type="button" data-toggle="dropdown">
                                <div class="dropdown-text"> Hôm nay </div>
                                <div> <i class="fa fa-caret-down"></i></div>
                            </div>
                            <ul class="dropdown-menu">
                                <li><a href="#"> Hôm nay </a></li>
                                <li><a href="#"> Hôm qua </a></li>
                                <li><a href="#"> Tuần này </a></li>
                            </ul>
                        </div>

                        <div class="lbl-filter"> Từ ngày </div>
                        <div class="div-wrap-input form-input-4">
                            <input type="text" class="non-border-filter-input date-picker-input" />
                            <div class="common-icon calendar-icon"> </div>
                        </div>
                        <div class="lbl-filter"> đến ngày </div>
                        <div class="div-wrap-input form-input-4">
                            <input type="text" class="non-border-filter-input date-picker-input" />
                            <div class="common-icon calendar-icon"> </div>
                        </div>

                        <div class="blue-border-btn custom-btn get-store-data hover-pointer">
                            <div class="common-icon btn-filter-icon"></div>
                            <div>Lấy dữ liệu</div>
                        </div>

                    </div>
                    <div class="master-table">
                        <div class="div-wrap-thead-filter">
                            <div class="thead-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th class="column-1-master-tbl">
                                                <span> Ngày </span>
                                            </th>
                                            <th class="column-2-master-tbl">Số phiếu xuất</th>
                                            <th class="column-3-master-tbl">Đối tượng</th>
                                            <th class="column-4-master-tbl">Tổng tiền</th>
                                            <th class="column-5-master-tbl">Diễn giải</th>
                                            <th class="column-6-master-tbl">Loại chứng từ</th>
                                        </tr>
                                    </thead>
                                </table>
                                <div class="thead-filter-row">
                                    <table>
                                        <tr>
                                            <td class="column-1-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <input type="text" class="non-border-filter-input date-picker-input" />
                                                    <div class="common-icon calendar-icon"> </div>
                                                </div>
                                            </td>
                                            <td class="column-2-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <div class="div-wrap-icon">
                                                        <div class="common-icon quick-search-icon"> </div>
                                                    </div>
                                                    <input type="text" class="non-border-filter-input" />
                                                </div>
                                            </td>
                                            <td class="column-3-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <div class="div-wrap-icon">
                                                        <div class="common-icon quick-search-icon"> </div>
                                                    </div>
                                                    <input type="text" class="non-border-filter-input" />

                                                </div>
                                            </td>
                                            <td class="column-4-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <div class="dropdown">
                                                        <div class="operator-dropdown hover-pointer" type="button" data-toggle="dropdown">
                                                            <div class="dropdown-text"> = </div>
                                                        </div>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"> <span> = </span> : Bằng </a></li>
                                                            <li><a href="#"> <span> > </span>: Lớn hơn</a></li>
                                                            <li><a href="#"> <span> >= </span> : Lớn hơn hoặc bằng </a></li>
                                                            <li><a href="#"> <span> < </span> : Nhỏ hơn</a></li>
                                                            <li><a href="#"> <span> <= </span> : Nhỏ hơn hoặc bằng</a></li>
                                                        </ul>
                                                    </div>
                                                    <input type="text" class="non-border-filter-input" />
                                                </div>
                                            </td>
                                            <td class="column-5-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <div class="div-wrap-icon">
                                                        <div class="common-icon quick-search-icon"> </div>
                                                    </div>
                                                    <input type="text" class="non-border-filter-input" />
                                                </div>
                                            </td>
                                            <td class="column-6-master-tbl">
                                                <div class="div-wrap-filter-input">
                                                    <input type="text" class="non-border-filter-input" name="name" value="Tất cả" />
                                                    <div class="dropdown">
                                                        <div class=" hover-pointer" type="button" data-toggle="dropdown">
                                                            <div class="icon-in-input"> <i class="fa fa-caret-down"></i></div>
                                                        </div>
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#"> Tất cả </a></li>
                                                            <li><a href="#"> Phiếu xuất kho khác </a></li>
                                                            <li><a href="#"> Phiếu xuất kho điều chuyển</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class="div-on-thead-scroll"></div>
                        </div>

                        <div class="div-wrap-master-tbl" style="border-top: 1px solid #ddd">
                            <!--<table class="table">
                                <tbody>
                                    <tr>
                                        <td class="column-1-master-tbl"> 1 </td>
                                        <td class="column-2-master-tbl"> 1 </td>
                                        <td class="column-3-master-tbl"> 1 </td>
                                        <td class="column-4-master-tbl"> 1 </td>
                                        <td class="column-5-master-tbl"> 1 </td>
                                        <td class="column-6-master-tbl"> 1 </td>
                                    </tr>
                                </tbody>
                            </table>-->
                            <div class="loading-icon">
                                <img src="/Contents/Icons/ajax-loader.gif" />
                            </div>
                        </div>



                        <div class="master-table-footer">
                            <table class="table">
                                <tr>
                                    <td class="column-1-master-tbl"></td>
                                    <td class="column-2-master-tbl"></td>
                                    <td class="column-3-master-tbl"></td>
                                    <td class="column-4-master-tbl"></td>
                                    <td class="column-5-master-tbl"></td>
                                    <td class="column-6-footer-master-tbl"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="master-table-pagination">
                        <div class="pagination-table">
                            <div class="icon-pagination custom-disabled-btn icon-double-arrow-left hover-pointer"></div>
                            <div class="icon-pagination custom-disabled-btn icon-arrow-left hover-pointer"></div>
                            <span class="text-pagination">Trang</span>
                            <input type="number" min="1" max="10" value="1" class="input-pagination positive-num-input" />
                            <span class="text-pagination">trên 10</span>
                            <div class="icon-pagination icon-arrow-right hover-pointer"></div>
                            <div class="icon-pagination icon-double-arrow-right hover-pointer"></div>
                            <div class="icon-pagination icon-refresh-pagination hover-pointer"></div>
                            <div class="dropdown">
                                <div class="bts-dropdown row-per-page hover-pointer" type="button" data-toggle="dropdown">
                                    <div class="dropdown-text"> 15 </div>
                                    <div> <i class="fa fa-caret-down"></i></div>
                                </div>
                                <ul class="dropdown-menu">
                                    <li><a href="#">30</a></li>
                                    <li><a href="#">50</a></li>
                                    <li><a href="#">100</a></li>
                                </ul>
                            </div>
                            <span class="text-pagination result-pagination"> <span class="record-range"> 1 - 30  </span> trong 300 kết quả</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="detail-tab-outer">
                        <div class="detail-tab">
                            Chi tiết
                        </div>
                    </div>
                    <div class="detail-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>
                                        <span> Mã hàng hóa </span>

                                    </th>
                                    <th>Tên hàng hóa</th>
                                    <th>Kho</th>
                                    <th>Đơn vị tính</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="dialogOutwardRef">
        <div class="dialog-content">
            <div class="main-toolbar">
                <button class="toolbar-item">
                    <div class="common-icon btn-icon-before">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Trước
                    </span>
                    <div class="fa-icon-arrow-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </button>
                <button class="toolbar-item">
                    <span class="toolbar-btn-lbl">
                        Sau
                    </span>
                    <div class="common-icon btn-icon-after">
                    </div>
                    <div class="fa-icon-arrow-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-add-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Thêm mới
                    </span>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-edit-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Sửa
                    </span>
                </button>
                <button class="toolbar-item save-btn">
                    <div class="common-icon btn-save-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Lưu
                    </span>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-delete-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Xóa
                    </span>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-return-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Hoãn
                    </span>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-print-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        In
                    </span>
                    <div class="fa-icon-arrow-down">
                        <i class="fa fa-caret-down"></i>
                    </div>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-help-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Trợ giúp
                    </span>
                </button>
                <button class="toolbar-item">
                    <div class="common-icon btn-close-icon">
                    </div>
                    <span class="toolbar-btn-lbl">
                        Đóng
                    </span>
                </button>
            </div>
            <div class="main-dialog-content">
                <div class="outward-purpose">
                    <div>Mục đích xuất kho:</div>
                    <div class="common-icon radio-btn-true outward-purpose-radio-btn">  </div>
                    <div class="radio-label"> Khác </div>
                    <div class="common-icon radio-btn-false outward-purpose-radio-btn"> </div>
                    <div class="radio-label"> Điều chuyển đến cửa hàng khác </div>
                    <div class="dropdown">
                        <div class="bts-dropdown hover-pointer branch-dropdown-dialog branch-dropdown">
                            <div class="dropdown-text"> Chi nhánh Bưởi </div>
                            <div> <i class="fa fa-caret-down"></i></div>
                        </div>
                    </div>
                </div>
                <div class="outward-form">
                    <div class="general-infomation">
                        <div class="form-label">
                            THÔNG TIN CHUNG
                        </div>
                        <div class="start-tab" tabindex="0"></div>
                        <div class="grid-form-container general-information-grid">
                            <div class="grid-form-item"><span>Đối tượng</span></div>
                            <div class="grid-form-item multi-input-grid">
                                <div style="width: 200px; display: flex">
                                    <div class="div-wrap-input form-input-1 dropdown-div inner-form-input" tabindex="-1" style="outline: none">
                                        <input type="text" class="non-border-filter-input input-combobox object-code-input" tabindex="0" comboboxName="object" />
                                        <div class="icon-in-input arrow-down-dropbox-icon" comboboxName="object"></div>
                                        <div class="icon-in-input quick-search-icon btn-search-object"></div>
                                        <div class="dropdown-content object" comboboxName="object">
                                            <div>
                                                <div class="thead-dropdown">
                                                    <div class="width-130 dropdown-column-name">
                                                        Mã
                                                    </div>
                                                    <div class="width-250 dropdown-column-name">
                                                        Tên
                                                    </div>
                                                    <div class="width-150 dropdown-column-name">
                                                        Loại
                                                    </div>
                                                    <div class="div-on-combobox-tbl-scroll">
                                                    </div>
                                                </div>
                                                <div class="tbody-dropdown">
                                                    <table class="table">
                                                        <tbody class="object-combobox-data"></tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-wrap-input form-input-5">
                                    <input type="text" class="non-border-filter-input object-name-input" tabindex="0" />
                                </div>

                            </div>
                            <div class="grid-form-item"><span>Người giao</span></div>
                            <div class="grid-form-item">
                                <div class="div-wrap-input">
                                    <input type="text" class="non-border-filter-input shipman-input" tabindex="0" />
                                </div>
                            </div>
                            <div class="grid-form-item"><span>Diễn giải</span></div>
                            <div class="grid-form-item">
                                <div class="div-wrap-input">
                                    <input type="text" class="non-border-filter-input description" tabindex="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="outward-ref-info">
                        <div class="form-label">
                            CHỨNG TỪ
                        </div>

                        <div class="grid-form-container ref-grid">
                            <div class="grid-form-item"><span>Số phiếu xuất</span></div>
                            <div class="grid-form-item">
                                <div class="div-wrap-input">
                                    <input type="text" class="non-border-filter-input outward-ref-no required-input" tabindex="0" />
                                </div>
                            </div>
                            <div class="grid-form-item"><span>Ngày xuất</span></div>
                            <div class="grid-form-item">
                                <div class="div-wrap-input">
                                    <input type="text" class="non-border-filter-input outward-date date-picker-input required-input" tabindex="0" />
                                    <div class="common-icon calendar-icon"> </div>
                                </div>
                            </div>
                            <div class="grid-form-item"><span>Giờ xuất</span></div>
                            <div class="grid-form-item">
                                <div class="div-wrap-input">
                                    <input type="text" class="non-border-filter-input outward-time time-picker-input required-input" tabindex="0" />
                                    <div class="common-icon hour-icon"> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="outward-form-detail-table">
                    <div class="form-label"> CHI TIẾT </div>
                    <div class="div-wrap-form-detail-table">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="width-150">Mã SKU</th>
                                    <th>Tên hàng hóa</th>
                                    <th class="width-180">Kho</th>
                                    <th class="width-90">Đơn vị tính</th>
                                    <th class="width-100">Đơn giá</th>
                                    <th class="width-90">Số lượng</th>
                                    <th class="width-100">Thành tiền</th>
                                    <th class="width-40"></th>
                                </tr>
                            </thead>
                            <tbody class="outward-detail-table"></tbody>
                        </table>
                        <div class="detail-table-space">

                        </div>
                    </div>
                    <div class="end-tab" tabindex="0"></div>
                    <div class="detail-table-form-footer">
                        <table class="table">
                            <tr>
                                <td class="width-150 "> Số dòng = <span class="record-count"> 0 </span></td>
                                <td class=""></td>
                                <td class="width-180 "></td>
                                <td class="width-90 "></td>
                                <td class="width-100 "></td>
                                <td class="width-90 "></td>
                                <td class="width-100 text-align-right"> <span class="total-sum-amount"></span> </td>
                                <td class="width-40 "></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="dropdown-content product" comboboxName="product">
        <div>
            <div class="thead-dropdown">
                <div class="width-130 dropdown-column-name">
                    Mã
                </div>
                <div class="width-250 dropdown-column-name">
                    Tên
                </div>
                <div class="div-on-combobox-tbl-scroll">
                </div>
            </div>
            <div class="tbody-dropdown">
                <table class="table">
                    <tbody class="product-combobox-data">
                        <tr></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <ul class="branch-dropdown-menu">
    </ul>

    <div class="dialogNotification">
        <div class="notification-dialog">
            <div class="notify-dialog-wrapper">
                <div class="notify-dialog-icon">
                </div>
                <div class="notify-dialog-content">
                </div>
            </div>
            <div class="notify-bottom-buttons">
                <div class="custom-btn custom-btn-blue-back">
                    <div class="common-icon btn-agree-icon"> </div>
                    <span>Đóng</span>
                </div>
            </div>
        </div>


    </div>
    <!--<div class="dialogSelectObject">
        <div class="main-dialog-content">
            <div class="dialog-header-filter">
                <div> Loại đối tượng  </div>
                <div class="dropdown filter-by-type">
                    <div class="custom-dropdown bts-dropdown hover-pointer" type="button" data-toggle="dropdown">
                        <div class="dropdown-text"> Nhân viên </div>
                        <div> <i class="fa fa-caret-down"></i></div>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">Nhân viên</a></li>
                        <li><a href="#">Khách hàng</a></li>
                        <li><a href="#">Nhà cung cấp</a></li>
                    </ul>
                </div>
                <input type="text" class="border-input form-input-2" placeholder="Nhập mã đối tượng, tên đối tượng" />
                <div class="blue-border-btn custom-btn hover-pointer">
                    <div class="common-icon btn-search-blue-icon"></div>
                    <div>Tìm kiếm</div>
                </div>
            </div>
            <div class="dialog-body">
                <div class="div-wrap-select-object-tbl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="width-40"></th>
                                <th class="width-130">Mã đối tượng</th>
                                <th class="width-180">Tên đối tượng</th>
                                <th class="width-150">Loại đối tượng</th>
                                <th>Địa chỉ</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <div class="common-icon radio-btn-true">  </div>
                                </td>
                                <td> KH0001 </td>
                                <td> Nguyễn Mạnh Duy </td>
                                <td> Khách hàng </td>
                                <td> Việt Lâm - Vị Xuyên - Hà Giang</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination-table">
                    <div class="icon-pagination custom-disabled-btn icon-double-arrow-left hover-pointer"></div>
                    <div class="icon-pagination custom-disabled-btn icon-arrow-left hover-pointer"></div>
                    <span class="text-pagination">Trang</span>
                    <input type="number" min="1" max="10" value="1" class="input-pagination positive-num-input" />
                    <span class="text-pagination">trên 10</span>
                    <div class="icon-pagination icon-arrow-right hover-pointer"></div>
                    <div class="icon-pagination icon-double-arrow-right hover-pointer"></div>
                    <div class="icon-pagination icon-refresh-pagination hover-pointer"></div>
                    <div class="dropdown">
                        <div class="bts-dropdown row-per-page hover-pointer" type="button" data-toggle="dropdown">
                            <div class="dropdown-text"> 15 </div>
                            <div> <i class="fa fa-caret-down"></i></div>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="#">30</a></li>
                            <li><a href="#">50</a></li>
                            <li><a href="#">100</a></li>
                        </ul>
                    </div>
                    <span class="text-pagination result-pagination"> <span class="record-range"> 1 - 30  </span> trong 300 kết quả</span>
                </div>
            </div>
            <hr />
            <div class="dialog-footer">
                <div style="flex-grow: 1">
                    <div class="help-header">
                        <img src="/Contents/Images/icon_help_18.png"/>
                        <span class="text-help-header">Trợ giúp</span>
                    </div>
                </div>

                <div>
                    <div class="custom-btn custom-btn-blue-back">
                        <div class="common-icon btn-agree-icon"> </div>
                        <span>Chọn</span>
                    </div>
                </div>
                <div>
                    <div class="custom-btn custom-btn-no-border">
                        <div class="common-icon btn-cancel-icon"></div>
                        <span>Hủy bỏ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->
    <!--<div class="dialogSelectItem">
        <div class="main-dialog-content">
            <div class="dialog-header-filter">
                <div> Nhóm hàng hóa  </div>
                <div class="dropdown filter-by-type">
                    <div class="custom-dropdown bts-dropdown hover-pointer" type="button" data-toggle="dropdown">
                        <div class="dropdown-text"> Tất cả </div>
                        <div> <i class="fa fa-caret-down"></i></div>
                    </div>
                    <ul class="dropdown-menu">
                        <li><a href="#">HTML</a></li>
                        <li><a href="#">CSS</a></li>
                        <li><a href="#">JavaScript</a></li>
                    </ul>
                </div>
                <input type="text" class="border-input form-input-2" placeholder="Nhập mã tên hàng hóa, tên hàng hóa" />
                <div class="blue-border-btn custom-btn hover-pointer">
                    <div class="common-icon btn-search-blue-icon"></div>
                    <div>Tìm kiếm</div>
                </div>
            </div>
            <div class="dialog-body">
                <div class="div-wrap-select-item-tbl">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="width-230">Mã SKU</th>
                                <th>Tên hàng hóa</th>
                                <th class="width-150">Nhóm hàng hóa</th>
                                <th class="width-90">Đơn vị tính</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>2</td>
                                <td>3</td>
                                <td>4</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="pagination-table">
                    <div class="icon-pagination custom-disabled-btn icon-double-arrow-left hover-pointer"></div>
                    <div class="icon-pagination custom-disabled-btn icon-arrow-left hover-pointer"></div>
                    <span class="text-pagination">Trang</span>
                    <input type="number" min="1" max="10" value="1" class="input-pagination positive-num-input" />
                    <span class="text-pagination">trên 10</span>
                    <div class="icon-pagination icon-arrow-right hover-pointer"></div>
                    <div class="icon-pagination icon-double-arrow-right hover-pointer"></div>
                    <div class="icon-pagination icon-refresh-pagination hover-pointer"></div>
                    <div class="dropdown">
                        <div class="bts-dropdown row-per-page hover-pointer" type="button" data-toggle="dropdown">
                            <div class="dropdown-text"> 15 </div>
                            <div> <i class="fa fa-caret-down"></i></div>
                        </div>
                        <ul class="dropdown-menu">
                            <li><a href="#">30</a></li>
                            <li><a href="#">50</a></li>
                            <li><a href="#">100</a></li>
                        </ul>
                    </div>
                    <span class="text-pagination result-pagination"> <span class="record-range"> 1 - 30  </span> trong 300 kết quả</span>
                </div>
            </div>
            <hr />
            <div class="dialog-footer">
                <div style="flex-grow: 1">
                    <div class="help-header">
                        <img src="/Contents/Images/icon_help_18.png"/>
                        <span class="text-help-header">Trợ giúp</span>
                    </div>
                </div>

                <div>
                    <div class="custom-btn custom-btn-blue-back">
                        <div class="common-icon btn-agree-icon"> </div>
                        <span>Chọn</span>
                    </div>
                </div>
                <div>
                    <div class="custom-btn custom-btn-no-border">
                        <div class="common-icon btn-cancel-icon"></div>
                        <span>Hủy bỏ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <script src="../Javascript/Library/jquery-3.4.1.js"></script>
    <script src="../Javascript/Library/jquery-ui.js"></script>
    <script src="../Javascript/Library/jquery.timepicker.min.js"></script>
    <script src="../Javascript/Library/popper.min.js"></script>
    <script src="../Javascript/Library/bootstrap.min.js"></script>
    <script src="../Javascript/Library/jquery.maskedinput.js"></script>
    <script src="../Javascript/Resources/resource.js"></script>
    <script src="../Javascript/Common/enumeration.js"></script>
    <script src="../Javascript/Common/common.js"></script>
    <script src="../Javascript/Common/ajax.js"></script>
    <script src="../Javascript/Common/dialog.js"></script>
    <script src="../Javascript/Common/databinder.js"></script>
    <script src="../Javascript/Common/calendardisplay.js"></script>
    <script src="../Javascript/Main/main.js"></script>
</body>
</html>

